* {
    margin: 0px;padding: 0px;
    box-sizing: border-box;
    vertical-align: middle;text-align: center;
    font-family: sans-serif;
    z-index: 20;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: rgb(231,233,235);
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.allPages{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}
.pages{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
}
#page1{
    background-image: url("Images/portPic2.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-color: aliceblue;
}
/*Top Bar*/
.topPanel{
    height: 40px; width: 100%;
    position: absolute;
    top: 0px;
    padding-inline: 20px;
    text-align: right;
}
.topPanelButtons img{
    height: 30px; width: 30px; margin: 5px;margin-right: 30px;
}
.about{
    position: absolute;
    top: 50px; left: 0px;
    width: 60vw;
    padding-left: 10px;
    text-align: left;
    background-color: rgba(255, 173, 91, 0.355)
}
h3, h4, li{
    text-align: left;
}
.portfolioPic{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}
#portPicId{
    width: auto;
    max-width: 50vw;
    max-height: 100vh;
}
#page2{
    background-image: url("Images/economics.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-color: aliceblue;
}
